﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <a id="reg" class="btn btn-primary">Registrarse</a>
        
    </div>
    <div class="col-md-6">
        <a id="ini" class="btn btn-primary">Iniciar session</a>
    </div>
    <div class="col-md-12" id="contenido">

    </div>
</div>
<script>
   
    $('#reg').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/home/registrarse'
        }).done(function(reg){
            $('#contenido').html(reg);
        });
    });
    $('#ini').on('click', function (e) {
        e.preventDefault();
        $.ajax({
            url: '/home/login'
        }).done(function (ini) {
            $('#contenido').html(ini);
        });
    });
</script>