﻿
@{
    Layout = null;
}


<h2>Crear Entrenador</h2>
<div class="row">
    <div class="col-md-6">
        <form action="/Home/Registrarse" method="post">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
                @Html.ValidationMessage("Nombre")
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                <select class="form-control" name="Ciudad">
                    <option value="">--Seleccione una ciudad</option>
                    @foreach (var item in ViewBag.Ciudad)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                @Html.ValidationMessage("Ciudad")
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="Pass" placeholder="Contraseña" />
                @Html.ValidationMessage("Pass")
            </div>
            <button class="btn btn-primary">Guardar</button>
            <a href="/Home/index" class="btn btn-primary" role="button">Cancelar</a>
        </form>
    </div>

</div>
