﻿
@{
    ViewData["Title"] = "Ver";
}



<div class="row">
    <div class="col-xs-pull-2">
        <div class="col-md-2">
            <h2>Entrenador: @Model.Nombre</h2>
            <div>
                <p>De la ciudad: @Model.Ciudad</p>
            </div>
            <div id="capturar">

            </div>

        </div>
    </div>


    <div class="col-xs-pull-10">
        <div class="panel panel-warning" style="overflow-y: scroll; height:500px; width: auto;">
            <div class="panel-heading"> Pokedex </div>
            <div class="panel-body">
                @foreach (var item in Model.Capturas)
                {

                    <div class="pull-right">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                @item.Pokemon.Nombre
                                <a type="button" class="btn btn-danger" href="/Entrenador/Liberar?capturaId=@item.Id&entrenadorId=@Model.Id">Liberar</a>
                            </div>
                            <div class="panel-body">
                                <label>IdPokemon: @item.Pokemon.Id</label>
                                <label>Tipo: @item.Pokemon.Tipo</label>
                                <label>Fecha de captura: @item.Fecha</label>
                                <img height="100" src="~/images/@item.Pokemon.Imagen" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
