﻿
@{
    Layout = null;
}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Imagen</th>
            <th>Capturar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="warning">
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Tipo</td>
                <td>
                    <img height="100" src="~/images/@item.Imagen" />
                </td>
                <td>
                    <form action="/captura/capturar?pokemonid=@item.Id" method="post">
                        <button class="btn btn-primary">Capturar</button>
                    </form>
                </td>
                <td>
                    <div id="Resultado">

                    </div>
                </td>  
            </tr>
        }
    </tbody>
</table>

