﻿
@{
    ViewData["Title"] = "Create";
}

<h2>Crear Pokemon</h2>
<div class="row">
    <div class="col-md-6">
        <form action="/Pokemon/Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
                @Html.ValidationMessage("Nombre")
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                <select class="form-control" name="Tipo">
                    <option value="">--Seleccione un Tipo</option>
                    @foreach (var item in ViewBag.Tipo)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                @Html.ValidationMessage("Tipo")
            </div>
            <div class="form-group">
                <label>Imagen</label>
                <input type="file" class="form-control" name="Imagen" />
                @Html.ValidationMessage("Imagen")
            </div>
            <button class="btn btn-primary">Guardar</button>
            <a href="/Pokemon/index" class="btn btn-primary" role="button">Cancelar</a>
        </form>
    </div>

</div>


