﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h2>Lista de Pokemons</h2>


<div class="row">
    <div class="col-md-3">
        <form action="/" method="get">
            <input type="text" id="nombre" name="nombre" placeholder="Buscar" />
            <button class="btn btn-primary">Busar</button>
        </form>
    </div>
    <div class="col-md-3">
        <a  type="button" class="btn btn-lg" href="/Pokemon/Create">Nuevo Pokemon</a>
    </div>
    <div class="col-md-3">
        <a  type="button" class="btn btn-lg" href="/Home/ver">Ver pokemones</a>
    </div>
    <div class="col-md-3">
        <a  type="button" class="btn btn-lg" href="/Home/logout">Cerrar Sesion</a>
    </div>
</div>
<div id="tabla">

</div>
<script>
    function init() {
        $.ajax({
            url: '/Pokemon/_index?nombre=' + $('#nombre').val() +'&entrenadorId=@ViewBag.Entrenador'
        }).done(function (_index) {
            $('#tabla').html(_index);
        });
    }
    $('form').on('submit', function (e) {
        e.preventDefault();
        init();
    });
    init();
</script>